/* line 1, ../sass/foundation/_reset.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 2, ../sass/foundation/_reset.scss */
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* line 3, ../sass/foundation/_reset.scss */
article, aside, figure, footer, header, hgroup, nav, section {
  display: block; }

/* line 4, ../sass/foundation/_reset.scss */
blockquote, q {
  quotes: none; }

/* line 5, ../sass/foundation/_reset.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

/* line 6, ../sass/foundation/_reset.scss */
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none; }

/* line 7, ../sass/foundation/_reset.scss */
del {
  text-decoration: line-through; }

/* line 8, ../sass/foundation/_reset.scss */
abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help; }

/* line 9, ../sass/foundation/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 10, ../sass/foundation/_reset.scss */
th {
  font-weight: bold;
  vertical-align: bottom; }

/* line 11, ../sass/foundation/_reset.scss */
td {
  font-weight: normal;
  vertical-align: top; }

/* line 12, ../sass/foundation/_reset.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/* line 13, ../sass/foundation/_reset.scss */
input, select {
  vertical-align: middle; }

/* line 14, ../sass/foundation/_reset.scss */
pre {
  white-space: pre;
  /* CSS2 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word;
  /* IE */ }

/* line 15, ../sass/foundation/_reset.scss */
input[type="radio"] {
  vertical-align: text-bottom; }

/* line 16, ../sass/foundation/_reset.scss */
input[type="checkbox"] {
  vertical-align: bottom;
  *vertical-align: baseline; }

/* line 17, ../sass/foundation/_reset.scss */
select, input, textarea {
  font: 99% sans-serif; }

/* line 18, ../sass/foundation/_reset.scss */
table {
  font-size: inherit;
  font: 100%; }

/* line 19, ../sass/foundation/_reset.scss */
small {
  font-size: 85%; }

/* line 20, ../sass/foundation/_reset.scss */
strong, th {
  font-weight: bold; }

/* line 21, ../sass/foundation/_reset.scss */
td, td img {
  vertical-align: top; }

/* line 22, ../sass/foundation/_reset.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative; }

/* line 23, ../sass/foundation/_reset.scss */
sup {
  top: -0.5em; }

/* line 24, ../sass/foundation/_reset.scss */
sub {
  bottom: -0.25em; }

/* line 25, ../sass/foundation/_reset.scss */
pre, code, kbd, samp {
  font-family: monospace, sans-serif; }

/* line 26, ../sass/foundation/_reset.scss */
.clickable, label, input[type=button], input[type=submit], button {
  cursor: pointer; }

/* line 27, ../sass/foundation/_reset.scss */
button, input, select, textarea {
  margin: 0;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0; }

/* line 28, ../sass/foundation/_reset.scss */
button {
  width: auto;
  overflow: visible; }

/* line 29, ../sass/foundation/_reset.scss */
.ie7 img {
  -ms-interpolation-mode: bicubic; }

/* line 30, ../sass/foundation/_reset.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

/* line 31, ../sass/foundation/_reset.scss */
html, body {
  min-height: 100%; }

/* line 32, ../sass/foundation/_reset.scss */
.clear {
  clear: both; }

/* line 33, ../sass/foundation/_reset.scss */
.clearfix {
  zoom: 1; }
  /* line 33, ../sass/foundation/_reset.scss */
  .clearfix:before, .clearfix:after {
    content: "";
    display: table; }
  /* line 33, ../sass/foundation/_reset.scss */
  .clearfix:after {
    clear: both; }

/* line 34, ../sass/foundation/_reset.scss */
.hide-text {
  text-indent: 200%;
  white-space: nowrap;
  overflow: hidden;
  color: transparent !important;
  display: block; }

/* line 35, ../sass/foundation/_reset.scss */
.hidden {
  display: none !important; }

/* line 36, ../sass/foundation/_reset.scss */
li {
  list-style: none; }

/* line 99, ../sass/foundation/_helpers.scss */
.group::after {
  clear: both;
  content: "";
  display: table; }

/* line 107, ../sass/foundation/_helpers.scss */
.debug {
  background-color: pink !important; }

/* line 113, ../sass/foundation/_helpers.scss */
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

/* line 121, ../sass/foundation/_helpers.scss */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden; }
  /* line 125, ../sass/foundation/_helpers.scss */
  .ir::before {
    content: "";
    display: block;
    width: 0;
    height: 150%; }

/* line 135, ../sass/foundation/_helpers.scss */
.vCenter {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%); }

/* line 8, ../sass/foundation/_base.scss */
html {
  height: 100%;
  background: white;
  color: black;
  font-family: "HelveticaNeue", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5; }

/* line 17, ../sass/foundation/_base.scss */
body {
  position: relative;
  font-size: 100%;
  -webkit-font-smoothing: antialiased; }

/* line 31, ../sass/foundation/_base.scss */
p,
.p,
ul,
blockquote {
  margin-bottom: 1.25em;
  margin-top: 0; }

/* line 36, ../sass/foundation/_base.scss */
blockquote {
  padding-left: 1.25em;
  color: #666666;
  border-left: 1px solid #4d4d4d; }

/* line 52, ../sass/foundation/_base.scss */
.video-responsive:last-child,
ul:last-child,
ol:last-child,
li:last-child,
p:last-child,
h1:last-child, .h1:last-child,
h2:last-child, .h2:last-child,
h3:last-child, .h3:last-child,
h4:last-child, .h4:last-child,
h5:last-child, .h5:last-child {
  margin-bottom: 0; }

/* line 72, ../sass/foundation/_base.scss */
.input,
input[type="text"],
input[type="search"],
input[type="email"],
input[type="password"],
input[type="url"],
input[type="number"],
input[type="date"],
input[type="week"],
input[type="month"],
input[type="datetime"],
input[type="datetime-local"],
textarea,
select,
input[type="submit"],
button {
  border: 1px solid #4d4d4d;
  background-color: white;
  padding: 0.625em;
  margin-bottom: 1.25em; }

/* line 79, ../sass/foundation/_base.scss */
select::-ms-expand {
  display: none; }

/* line 87, ../sass/foundation/_base.scss */
.input,
input,
textarea,
select,
button {
  display: block;
  width: 100%;
  margin-bottom: 1.25em; }

/* line 93, ../sass/foundation/_base.scss */
input[type="range"] {
  -webkit-appearance: slider-horizontal; }

/* line 98, ../sass/foundation/_base.scss */
input[type="checkbox"],
input[type="radio"] {
  position: relative;
  display: inline-block;
  vertical-align: sub;
  width: 1.25em;
  height: 1.25em;
  border: 2px solid #0c4ca3;
  margin-right: 0.3125em;
  margin-bottom: 0; }
  /* line 108, ../sass/foundation/_base.scss */
  input[type="checkbox"]:checked:before,
  input[type="radio"]:checked:before {
    position: absolute;
    top: 3px;
    bottom: 3px;
    left: 3px;
    right: 3px;
    background-color: #0c4ca3;
    content: ""; }

/* line 122, ../sass/foundation/_base.scss */
input[type="radio"], input[type="radio"]:before {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%; }

/* line 127, ../sass/foundation/_base.scss */
label {
  display: block;
  font-style: italic; }

/* line 133, ../sass/foundation/_base.scss */
input[type="submit"],
button {
  display: block; }

/* line 142, ../sass/foundation/_base.scss */
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4 {
  font-family: Georgia, Times, "Times New Roman", serif;
  line-height: 2;
  margin-bottom: 1.25em;
  margin-top: 0; }

/* line 149, ../sass/foundation/_base.scss */
h1, .h1 {
  font-size: 1.25em; }

/* line 153, ../sass/foundation/_base.scss */
h2, .h2 {
  font-size: 1.25em; }

/* line 157, ../sass/foundation/_base.scss */
h3, .h3 {
  font-size: 1.25em; }

/* line 161, ../sass/foundation/_base.scss */
h4, .h4 {
  font-size: 1.25em; }

/* line 171, ../sass/foundation/_base.scss */
a {
  color: #0c4ca3;
  text-decoration: none; }
  /* line 176, ../sass/foundation/_base.scss */
  p a:hover, p a:focus {
    text-decoration: underline; }

/* line 184, ../sass/foundation/_base.scss */
img {
  height: auto;
  max-width: 100%; }

/* line 193, ../sass/foundation/_base.scss */
table {
  width: 100%; }

/* line 197, ../sass/foundation/_base.scss */
td {
  border: 1px solid #4d4d4d;
  padding: 0.625em; }

/* line 202, ../sass/foundation/_base.scss */
thead td {
  border-color: #0c4ca3;
  background-color: #0c4ca3;
  color: white; }

/* line 208, ../sass/foundation/_base.scss */
tbody tr:first-of-type td {
  border-top: none; }

/* line 219, ../sass/foundation/_base.scss */
.alignright {
  float: right;
  margin: 0.3125em 0 1.25em 2.5em; }

/* line 224, ../sass/foundation/_base.scss */
.alignleft {
  float: left;
  margin: 0.3125em 2.5em 1.25em 0; }

/* line 229, ../sass/foundation/_base.scss */
.aligncenter {
  display: block;
  margin: 0.3125em auto 0.3125em auto; }

/* line 234, ../sass/foundation/_base.scss */
.ab-top-menu {
  overflow: initial; }

/* line 238, ../sass/foundation/_base.scss */
.wp-caption {
  width: auto !important;
  margin-bottom: 1.25em; }

/* line 243, ../sass/foundation/_base.scss */
.wp-caption-text {
  font-style: italic;
  text-align: center; }

/* line 32, ../sass/foundation/_helpers.scss */
::-moz-selection {
  background: #0c4ca3;
  color: white; }

/* line 33, ../sass/foundation/_helpers.scss */
::selection {
  background: #0c4ca3;
  color: white; }

/* line 34, ../sass/foundation/_helpers.scss */
a:link {
  -webkit-tap-highlight-color: #0c4ca3; }

/* line 258, ../sass/foundation/_base.scss */
.video-responsive {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  height: 0;
  margin-bottom: 1.25em; }
  /* line 264, ../sass/foundation/_base.scss */
  .video-responsive iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

/* Wrap the entire post style inside the TinyMCE selector, as suggested
here http://codex.wordpress.org/Function_Reference/add_editor_style */
/* line 23, ../sass/editor-style.scss */
html {
  height: auto; }
  /* line 27, ../sass/editor-style.scss */
  html.ios {
    height: 100%; }

/* line 32, ../sass/editor-style.scss */
.ios body#tinymce {
  height: 200%;
  max-width: none; }

/* line 38, ../sass/editor-style.scss */
body#tinymce.wp-editor {
  height: auto;
  margin: 20px 15px;
  background: white;
  color: black;
  font-family: "HelveticaNeue", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased; }
  /* line 49, ../sass/editor-style.scss */
  body#tinymce.wp-editor ul li {
    list-style: disc; }
  /* line 53, ../sass/editor-style.scss */
  body#tinymce.wp-editor ol li {
    list-style: decimal; }
