// *************************************
//
//   Content
//   -> Structure is used for user generated content
//
// *************************************

// .structure

// -------------------------------------
//   Modifiers
// -------------------------------------

// .structure--modifier

// -------------------------------------
//   States
// -------------------------------------

// .structure.is-state

// -------------------------------------
//   Context
// -------------------------------------

// .has-structure

// -------------------------------------
//   Scaffolding
// -------------------------------------

.content{
	ul, ol{
	    margin-left: $b-space-2;
	}

	ul li{
	    list-style: disc;
	}

	ol li{
	    list-style: decimal;
	}
}

